<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <div style="width:300px;margin:0 auto; padding:20px 0;">
          &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
          <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer>