<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <div class="footer-about-me">
        关于作者<br>
        <a href="https://github.com/liluoao" target="_blank" title="GitHub">GitHub</a><br>
        <a href="https://segmentfault.com/u/liluoao" target="_blank" title="SegmentFault">SegmentFault</a><br>
        <a href="https://laravel-china.org/users/7144" target="_blank" title="LaravelChina">LaravelChina</a><br>
        <a href="https://gitee.com/liluoao" target="_blank" title="码云">码云</a><br>
        <a href="https://juejin.im/user/5a19374cf265da4332274600" target="_blank" title="掘金">掘金</a><br>
        <a href="https://packagist.org/users/liluoao/" target="_blank" title="Packagist">Packagist</a><br>
        <a href="https://www.gitbook.com/@liluoao" target="_blank" title="GitBook">GitBook</a>
      </div>
      <div style="width:300px;margin:0 auto; padding:20px 0;">
        <div class="footer-copyright">
          &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
          <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        </div>
        <a href="http://www.miitbeian.gov.cn/" target="_blank" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">鄂ICP备18009105号</p></a>
        <br>
        <img src="css/images/beian.png"/>
        <a target="_blank" href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42011102001595" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">鄂公网安备 42011102001595号</p></a>
      </div>
    </div>
  </div>
</footer>