#footer
  background: color-footer-background
  padding: 50px 0 0 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none

#footer-info
  line-height: line-height
  font-size: 1em

#footer-follow
  display: flex;
  align-items: center;
  justify-content: center;

.powered_by
  width: 300px;
  margin:0 auto;
  padding: 20px 0;
  text-align: center;

.follow-link
 margin-right: 5px;
